apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-sample-code-with-quarkus-8hqf
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-ygta-tenant/quarkus/devfile-sample-code-with-quarkus-8hqf@sha256:7dcdabf98c47b86ffc758fa83f24f81b1153a1faaef30df0ad9118f44b3bf1c3
        name: my-java-quarkus
        resources: {}
status: {}
